<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Tabla de multiplicar</title>
        
    </head>
    <body>
        <h2>Tabla del {{number}}</h2>
        <p>
            {{tabla |nl2br}}
        </p>
    </body>
</html>
